.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

header {
    width: 100%;
}
header h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: .5px solid white;
    box-shadow: 2px 3px 8px rgba(255, 255, 255, 0.253);
}
.movie h3,p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie h3 {
    height: 54px;
    
}
.movie img {
    border-radius: 8px;
}